@charset "utf-8";
@import url("reset.css");

@font-face {
    font-family: 'NexonMaplestory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'NexonMaplestory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'TMoneyDungunbaram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TMoneyDungunbaram';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}


body {
    cursor: url('../img/s.png') 18 18, auto;
    /* 이미지 48x48px, 클릭 중심점 중앙 */
}

html {
    font-size: 10px;
}

.sticky-header {
    position: absolute; // 초기엔 main-visual 안에 있음
    bottom: 0; // 화면 하단에 붙음
    left: 0;
    width: 100%;
    height: 8rem;
    z-index: 1000;
    transition: all 0.3s ease;
    background-color: transparent; // 초기 투명

    &.fixed {
        position: fixed;
        top: 0;
        bottom: auto;
        backdrop-filter: blur(8px);
        background-color: rgba(255, 255, 255, 0.063);
        transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    }

    .inner {
        max-width: 160rem; // 1600px
        width: calc(100% - 6rem); // 60px 제외
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        // ==============================
        // Logo
        // ==============================
        .logo {
            a {
                font-size: 2.4rem; // 24px
                font-weight: bold;
                color: #ffffff;
                text-decoration: none;
                text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3); //2px, 4px 그림자
                transition: color 0.3s ease;

                &:hover {
                    color: #ffeedd;
                }
            }
        }

        // ==============================
        // Navigation
        // ==============================
        nav {
            ul {
                display: flex;
                gap: 8rem; // 80px 간격

                li {
                    a {
                        font-size: 1.8rem; // 18px
                        letter-spacing: 0.1rem; //자간 1px
                        color: #ffffff;
                        text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
                        text-decoration: none;
                        transition: color 0.3s ease;

                        &:hover {
                            color: #ffeedd;
                        }
                    }
                }
            }
        }
    }
}



.main-visual {
    position: relative;
    width: 100%;
    height: 100vh; // 1080px를 rem 단위로 변환
    overflow: hidden;

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
    }

    &.end {
        position: relative;
        z-index: 1;
    }

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: transform 0.1s ease-out;
            /* 프레임 부드럽게 */
            will-change: transform;

        }
    }

    .cloud-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        opacity: 0;
        transform: translateY(20px);
        /* 초기 아래에서 시작 */

        /* 등장 애니메이션 + float 애니메이션 */
        animation: fadeIn 2s ease-out forwards, float 5s ease-in-out 4s infinite alternate;

    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* 반복적으로 떠있는 느낌 */
    @keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }
}



#about_me {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    /* position: relative; */
    background: #FFF8D6;
    background: linear-gradient(181deg, rgba(255, 248, 214, 1) 0%, rgba(243, 227, 156, 1) 10%, rgba(251, 207, 175, 1) 38%, rgba(243, 207, 225, 1) 59%);

    &.unstuck {
        position: static;
        /* 원래 위치로 돌아가지 않고 그 순간부터 스크롤 적용 */
    }

    h4.title {
        font-weight: 300;
        font-family: 'TMoneyDungunbaram';
        font-size: 2.4rem;
        color: #333;
        margin-bottom: 2.5rem;
    }

    .inner {
        max-width: 128rem;
        width: calc(100% - 4rem);
        height: 100%;
        margin: 0 auto;


        .title_about_me {
            font-family: 'TMoneyDungunbaram';
            font-weight: 800;
            padding-top: 12rem;
            font-size: 5.5rem;
            color: #3c3c3c;
            margin-bottom: 6rem;
            text-align: center;
        }

        .about_list {
            display: flex;
            justify-content: center;
            padding-top: 4.2rem;


            .about {
                padding-left: 3rem;

                .profile {
                    width: 230px;
                    height: 310px;
                    border-radius: 1.8rem;
                    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.432);
                    transform: translateY(0px);
                    animation: float 5s ease-in-out infinite;

                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                        border-radius: 2rem;
                        object-fit: cover;
                        transform: scale(1.1);
                    }
                }

                @keyframes float {
                    0% {
                        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
                        transform: translateY(0px);
                    }

                    50% {
                        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
                        transform: translateY(-6px); // 이동거리 반으로 줄임
                    }

                    100% {
                        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
                        transform: translateY(0px);
                    }
                }

                .profile_info {
                    margin-top: 2.8rem;

                    .profile_list {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        li {
                            display: flex;
                            gap: 1.5rem;

                            .label {
                                font-weight: 300;
                                font-family: 'TMoneyDungunbaram';
                                width: 70px;
                                font-size: 1.8rem;
                            }

                            .value {
                                letter-spacing: -0.5px;
                                font-weight: 300;
                                font-family: 'TMoneyDungunbaram';
                                font-size: 2rem;

                            }

                        }
                    }
                }

                .about_btn {
                    width: 230px;
                    margin-top: 3.8rem;
                    font-family: "TMoneyDungunbaram";
                    font-size: 2.4rem;
                    text-align: center;
                    padding: 14px 0;
                    border-radius: 1.5rem;
                    color: #1e1e1e;
                    background-color: rgba(255, 255, 255, 0.84);
                    box-shadow: 0 3px 7px 0 rgba(42, 42, 42, 0.36); // 그림자

                    a {
                        display: block;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.363);
                    }
                }
            }

            .about_box {
                margin-left: 7rem;

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: 3.9rem;



                    .education {

                        .education_list {
                            display: flex;
                            flex-direction: column;
                            gap: 1.5rem;

                            li {
                                font-weight: 300;
                                font-family: 'TMoneyDungunbaram';
                                display: flex;
                                gap: 1.8rem;
                                font-size: 2rem;

                                .year {
                                    font-weight: 300;
                                    font-family: 'TMoneyDungunbaram';
                                    font-size: 1.8rem;
                                }
                            }
                        }
                    }

                    .Awards {
                        .education_list {
                            display: flex;
                            flex-direction: column;
                            gap: 1.5rem;

                            li {
                                font-size: 2rem;
                                font-weight: 300;
                                font-family: 'TMoneyDungunbaram';
                                display: flex;
                                gap: 1.8rem;
                            }
                        }
                    }

                    .skill {
                        width: 700px;

                        .skill_icons {
                            display: flex;
                            flex-wrap: wrap;
                            column-gap: 3.8rem; // 아이템 가로 간격
                            row-gap: 2rem;

                            .skill_item {
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                cursor: pointer;

                                img {
                                    width: 48px;
                                    height: 48px;
                                    object-fit: cover;
                                    transition: transform 0.3s ease;
                                }

                                .skill_desc {
                                    font-family: 'NexonMaplestory';
                                    position: absolute;
                                    top: 105%; //아이콘 바로 아래
                                    margin-top: 0.5rem; //아이콘과의 간격
                                    background: #333;
                                    color: #fff;
                                    padding: 1rem 1.2rem;
                                    border-radius: 25px;
                                    font-size: 1.6rem;
                                    white-space: nowrap;
                                    opacity: 0;
                                    pointer-events: none;
                                    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        width: 1rem;
                                        height: 1rem;
                                        background: #333;
                                        top: -0.4rem; // 툴팁 위쪽 삼각형
                                        left: 50%;
                                        transform: translateX(-50%) rotate(45deg);
                                    }
                                }


                                &:hover {
                                    img {
                                        transform: scale(1.1);
                                    }

                                    .skill_desc {
                                        z-index: 1;
                                        opacity: 1;
                                        pointer-events: auto;
                                        margin-top: 1rem; //살짝 내려오는 애니메이션 느낌
                                    }

                                }


                            }


                        }
                    }

                }



            }
        }


    }


}

.bottom-wrapper {
    position: relative;


    .bottom {
        position: absolute; //absolute로 부모 기준 위치 고정
        top: -20rem; //부모(.about_me) 하단에 붙임
        left: 0;
        width: 100%;
        height: 20rem;
        overflow: hidden;



        div {
            position: absolute;
            background-position-y: bottom;
            background-repeat: repeat-x;
            bottom: 0;
            width: 100%;
            height: 100%;
            /* background-size: cover; */
        }

        .bg1 {
            background-image: url("../img/sec_clouds1.png");
            z-index: 1;
            transform: translateY(-15px);
            animation: move 15s infinite linear reverse;
        }

        .bg2 {
            background-image: url("../img/sec_clouds2.png");
            z-index: 2;
            transform: translateY(15px);
            animation: move 15s infinite linear;
        }

        .bg3 {
            background-image: url("../img/sec_clouds3.png");
            z-index: 3;
            animation: move 15s infinite linear reverse;
        }
    }

    @keyframes move {
        from {
            background-position-x: 0;
        }

        to {
            background-position-x: 500px;
        }
    }
}





$sky-gradient: linear-gradient(181deg,
        #EFD9EA 2%, // 연분홍
        #C7E3F9 18%, // 연하늘
        #B0D3F4 38%, // 중간 하늘색
        #C9B3D7 45%, // 연보라
        #F0B395 60%, // 살짝 톤 다운한 노을색
        #D9928A 68%,
        #685595 80%, // 딥 퍼플
        #11133A 100%);


.bg-gradient {
    position: relative;
    width: 100%;

    /* height: 650vh;  */
    //최소 한 화면 높이
    /* height: 650vh;  */
    //최소 한 화면 높이
    background: $sky-gradient;
    /* background-attachment: fixed; */
    //하늘이 고정된 듯한 느낌
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    //색 전환을 부드럽게
    transition: background 1s ease-in-out;

    .vision {
        padding-top: 24rem;
        margin-bottom: 14rem;
        text-align: center;

        line-height: 2;
        /* 행간: 2배 정도로 여유 있게 */
        letter-spacing: 0.02em;
        /* 자간: 글자 사이 약간 띄움 */

        font-family: 'NexonMaplestory';

        .inner {
            max-width: 1400px;
            margin: 0 auto;

            p {
                color: #6b5867;
                font-size: 3.6rem;
                position: relative;

                .main_text {
                    font-weight: 700;
                    font-size: 4rem;
                    color: #5e4e5b;
                    display: block;
                    margin-top: 1rem;
                }

                .highlight {
                    color: #51424e;
                    font-size: 4rem;
                    display: inline-block;
                    transition: transform 0.6s ease, letter-spacing 0.6s ease;

                    &.grow {
                        font-weight: 700;
                        transform: scale(1.05);
                        letter-spacing: 0.05em;
                        padding: 0 1.1rem;
                    }
                }

                .highlight-container {

                    &.top {
                        position: relative;
                        display: inline-block;

                        img {
                            position: absolute;
                            top: 0px;
                            left: 50%;
                            transform: translateX(-50%) translateY(40px) scale(0.9);
                            opacity: 0;
                            width: 50px;

                            transition: top 1s ease, transform 0.6s ease, opacity 0.6s ease;
                            transition: transform 0.6s ease, opacity 0.6s ease;
                            pointer-events: none;

                            &.show {

                                top: -40px;
                                opacity: 1;
                                transform: translateX(-50%) translateY(0) scale(1.2);

                            }
                        }
                    }

                }

                .highlight-container-inline {
                    display: inline-flex;
                    align-items: baseline;


                    transition: gap 0.3s ease;

                    &.show-gap {
                        gap: 6px;
                    }

                    &.left {
                        img {
                            width: 50px;
                            transform: translateX(50px);
                            opacity: 0;
                            transition: transform 0.6s ease, opacity 0.6s ease;

                            &.show {
                                margin-left: 4px;
                                display: inline-block;
                                transform: translateX(0);
                                opacity: 1;

                            }
                        }

                        .highlight {
                            transform: translateX(-50px);

                            &.grow {
                                transform: translateX(0);
                            }
                        }
                    }

                    &.right {

                        img {
                            width: 50px;
                            transform: translateX(20px);
                            opacity: 0;

                            display: none;
                            transition: transform 0.6s ease, opacity 0.6s ease;

                            &.show {
                                display: inline-block;
                                transform: translateX(0);
                                opacity: 1;

                            }
                        }


                    }
                }
            }
        }
    }

    .gs_reveal {
        opacity: 0;
        visibility: hidden;
        will-change: transform, opacity;
    }

    .project {
        
        position: relative;
        display: block;
        z-index: 3;

        .inner {
            max-width: 1400px;
            width: calc(100% - 30px);
            margin: 0 auto;

            .category {
                text-align: center;
                font-family: 'TMoneyDungunbaram';
                font-weight: 800;
                text-align: center;

            }

            .project_wrap {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 9rem;
                margin-top: 8rem;

                .project_box {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 5rem;


                    background: linear-gradient(135deg,
                            rgba(109, 109, 109, 0.2),
                            rgba(120, 180, 220, 0.15));
                    backdrop-filter: blur(6px);
                    border: 2.5px solid rgba(255, 255, 255, 0.25);
                    border-radius: 3rem;
                    padding: 2rem;
                    align-items: center;


                    .image {
                        width: 65rem;
                        height: 55.3rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }


                    .text_box {
                        padding: 5rem 2.5rem;

                        .project_header {
                            display: flex;
                            flex-direction: column;
                            gap: 1.8rem;
                            margin-bottom: 3.5rem;

                            h3 {
                                font-family: 'TMoneyDungunbaram';
                                font-weight: 600;
                                font-size: 3.4rem;

                            }

                            span {
                                font-family: 'TMoneyDungunbaram';
                                font-size: 1.5rem;
                                font-weight: 300;
                            }
                        }

                        .project_meta {
                            margin-bottom: 5rem;
                            display: flex;
                            align-items: center;
                            gap: 5rem;

                            .project_info {
                                height: 140px;
                                display: flex;
                                gap: 3rem;


                                .info_label {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;

                                    li {
                                        font-family: 'TMoneyDungunbaram';
                                        font-size: 2rem;
                                    }
                                }

                                .info_value {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    align-items: start;

                                    li {
                                        font-family: 'TMoneyDungunbaram';
                                        font-size: 1.8rem;
                                    }
                                }
                            }

                            .link_qr {
                                .image {
                                    width: 120px;
                                    height: 120px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }


                        .project_links {
                            display: flex;
                            /*  justify-content: space-between; */
                            align-items: center;
                            gap: 1.8rem;
                            height: 6.3rem;


                            a.btn.link_web {
                                width: 18rem;
                                height: 6.9rem;
                                background: url('../icon/Vector..svg') no-repeat center / cover;

                                /* padding: 15px 30px; */
                            }

                            a.btn {
                                width: 15.2rem;
                                height: 5.8rem;
                                /* flex: 1;  */
                                // 버튼이 균등하게
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-family: 'TMoneyDungunbaram';
                                font-size: 2.2rem;
                                background: url('../icon/Vector22.svg') no-repeat center / cover;
                                border-radius: 1.5rem;
                                /* padding: 1.6rem 2rem; */
                                text-decoration: none;
                                color: #000; // 필요에 따라 조정
                                transition: all 0.2s ease;
                                overflow: visible;

                                &:hover {
                                    animation: fluffyCloud 0.8s ease-in-out forwards;

                                }

                                span {
                                    margin-top: 0.8rem;
                                }

                                /* hover 시 구름 배경 */
                                &.link_web:hover {
                                    color: #fff;
                                    height: 6.9rem;
                                    background-color: transparent;
                                    background: url('../icon/h0ver.svg') no-repeat center / cover;

                                }

                                &.link_process:hover {
                                    background-color: transparent;

                                    background: url('../icon/Vector22hover.svg') no-repeat center / cover;
                                }

                                &.link_figma:hover {
                                    background-color: transparent;

                                    background: url('../icon/Vector22hover.svg') no-repeat center / cover;
                                }



                            }



                            @keyframes fluffyCloud {
                                0% {
                                    transform: scale(1, 1);
                                }

                                30% {
                                    transform: scale(1.08, 0.95);
                                }

                                /* 살짝 눌린 느낌 */
                                50% {
                                    transform: scale(0.95, 1.05);
                                }

                                /* 살짝 퍼지는 느낌 */
                                70% {
                                    transform: scale(1.03, 0.97);
                                }

                                /* 돌아오는 중 */
                                100% {
                                    transform: scale(1, 1);
                                }

                                /* 원래 크기 */
                            }




                        }
                    }
                }

            }

        }
    }


    #Web {
        padding-top: 18rem;

        .inner {
            .category {
                font-size: 11rem;
                color: rgb(255, 255, 255);          
                text-shadow: none;
                -webkit-text-stroke: 2px rgba(114, 114, 114, 0.683); 
            }
    

        }
    }

    #Mobile {
        padding-top: 18rem;

        .inner {

           .category {
                font-size: 11rem;
                color: rgb(255, 255, 255);          
                text-shadow: none;
                -webkit-text-stroke: 2px rgba(114, 114, 114, 0.683); 
            }

            .project_wrap {

                .project_box {
                    height: 58rem;

                }

            }

        }
    }

    #App {
        padding-top: 12rem;

        .inner {

            .category {
                font-size: 9rem;
                color: rgba(255, 255, 255, 0.134);          
                text-shadow: none;
                -webkit-text-stroke: 2px rgba(255, 255, 255, 0.683); 
            }

            .project_wrap {
                margin-top: 7rem;
    \            
                .project_box {
                    height: 58rem;


                }

            }

        }
    }

    #Clone {
        padding-top: 12rem;
        .inner {
           .category {
                font-size: 9rem;
                color: rgba(255, 255, 255, 0.134);          
                text-shadow: none;
                -webkit-text-stroke: 2px rgba(255, 255, 255, 0.683); 
            }

            .project_wrap {
                 margin-top: 7rem;

                .project_box {
                    height: 57rem;

                    .image {
                        height: auto;
                    }

                }

            }

        }
    }


    #design {
        margin-top: 20rem;
        z-index: 9;


        .inner {
            max-width: 1400px;
            width: calc(100% - 30px);
            margin: 0 auto;

            .title_design {
                opacity: 0;
                transform: translateY(60px);
                transition: all 0.8s ease-out;

                text-align: center;
                font-family: 'TMoneyDungunbaram';
                font-weight: 800;
                font-size: 10rem;
                color: #fff;
                margin-bottom: 12rem;

                &.in-view {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .list {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .item {
                    width: 20%;
                    animation: floating 3s ease-in-out infinite;
                    overflow: hidden;
                    border-radius: 30px;
                    position: relative;

                    img {
                        width: 100%;
                        border-radius: 30px;
                        object-fit: cover;
                        transition: transform 0.5s ease;
                        filter: brightness(0.7);
                    }

                    &:hover img {
                        transform: scale(1.06); // 이미지만 확대
                        filter: brightness(1);
                    }
                }
            }

        }

    }

    @keyframes floating {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0);
        }
    }

    #contact {
        margin-top: 30rem;
        padding-bottom: 18rem;

        .inner {
            max-width: 1400px;
            width: calc(100% - 30px);
            margin: 0 auto;

            .title_contact {
                opacity: 0;
                transform: translateY(60px);
                transition: all 0.8s ease-out;

                text-align: center;
                font-family: 'TMoneyDungunbaram';
                font-weight: 800;
                font-size: 8rem;
                color: #fff;
                margin-bottom: 12rem;

                &.in-view {
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            .contact_wrap {
                color: #fff;
                margin: 0 auto;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    margin-bottom: 5rem;
                    font-size: 2.6rem;
                }

                .main {

                    display: flex;
                    align-items: center;
                    gap: 10rem;


                    .call {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;

                        .phone {
                            display: flex;
                            gap: 1.5rem;
                        }

                        .e-mail {
                            display: flex;
                            gap: 1.5rem;
                        }


                        span {
                            font-size: 20px;
                        }

                        .btn_wrap {
                            margin-top: 2rem;
                            display: flex;
                            justify-content: space-between;

                            a {
                                font-size: 20px;
                            }

                        }
                    }


                }
            }

        }

    }

}

.cloud_layer {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 450vh;
    /* 전체 화면 높이 */
    position: absolute;
    top: 120vh;
    left: 0;

    #webglCanvas {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        background: transparent;
        mask-size: 500px;
        /* -webkit-mask-size: 100px; */
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);

        #webglCanvas {
            display: block;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            background: transparent;
            mask-size: 500px;
            /* -webkit-mask-size: 100px; */
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);

        }
    }
}



.stars_layer {
    transition: opacity 1s ease-out;
    position: absolute;
    width: 100%;
    height: 240vh;
    bottom: 15vh;
    left: 0;
    overflow: hidden;

    #aestheticCanvas {
        width: 100%;
        height: auto; // 높이는 JS에서 캔버스 자체 크기로 조절
        object-fit: none;
        display: block;

    }
}

@media screen and (max-width: 1600px) {

    #about_me {
        height: 130vh;

        .inner {
            .title_about_me {
                display: none;
            }

            .about_list {
                padding-top: 16rem;
            }

        }
    }

}