@charset "UTF-8";
@import url("reset.css");
@font-face {
  font-family: "NexonMaplestory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "NexonMaplestory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TMoneyDungunbaram";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "TMoneyDungunbaram";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
body {
  cursor: url("../img/s.png") 24 24, auto;
  /* 이미지 48x48px, 클릭 중심점 중앙 */
}

html {
  font-size: 10px;
}

.sticky-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 1000;
  transition: all 0.3s ease;
  background-color: transparent;
}
.sticky-header.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.063);
  transition: background-color 0.3s ease, -webkit-backdrop-filter 0.3s ease;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease, -webkit-backdrop-filter 0.3s ease;
}
.sticky-header .inner {
  max-width: 160rem;
  width: calc(100% - 6rem);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sticky-header .inner .logo a {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: color 0.3s ease;
}
.sticky-header .inner .logo a:hover {
  color: #ffeedd;
}
.sticky-header .inner nav ul {
  display: flex;
  gap: 8rem;
}
.sticky-header .inner nav ul li a {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: color 0.3s ease;
}
.sticky-header .inner nav ul li a:hover {
  color: #ffeedd;
}

.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* 반복적으로 떠있는 느낌 */
}
.main-visual.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.main-visual.end {
  position: relative;
  z-index: 1;
}
.main-visual .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.main-visual .bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: transform 0.1s ease-out;
  /* 프레임 부드럽게 */
  will-change: transform;
}
.main-visual .cloud-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transform: translateY(20px);
  /* 초기 아래에서 시작 */
  /* 등장 애니메이션 + float 애니메이션 */
  animation: fadeIn 2s ease-out forwards, float 5s ease-in-out 4s infinite alternate;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#about_me {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  /* position: relative; */
  background: #FFF8D6;
  background: linear-gradient(181deg, rgb(255, 248, 214) 0%, rgb(243, 227, 156) 10%, rgb(251, 207, 175) 38%, rgb(243, 207, 225) 59%);
}
#about_me.unstuck {
  position: static;
  /* 원래 위치로 돌아가지 않고 그 순간부터 스크롤 적용 */
}
#about_me h4.title {
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 2.5rem;
}
#about_me .inner {
  max-width: 128rem;
  width: calc(100% - 4rem);
  margin: 0 auto;
}
#about_me .inner .title_about_me {
  font-family: "TMoneyDungunbaram";
  font-weight: 800;
  padding-top: 12rem;
  font-size: 4.8rem;
  color: #3c3c3c;
  margin-bottom: 10rem;
  text-align: center;
}
#about_me .inner .about_list {
  display: flex;
}
#about_me .inner .about_list .about {
  width: 240px;
}
#about_me .inner .about_list .about .profile {
  width: 100%;
  height: 338px;
  border-radius: 2.5rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.432);
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
}
#about_me .inner .about_list .about .profile img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-12px);
  }
  100% {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
}
#about_me .inner .about_list .about .about_btn {
  margin-top: 5rem;
  font-family: "TMoneyDungunbaram";
  font-size: 2.4rem;
  text-align: center;
  padding: 14px 0;
  border-radius: 1rem;
  color: #fff;
  background-color: #0f0101;
  box-shadow: 0 3px 10px 0 rgba(26, 26, 26, 0.432);
}
#about_me .inner .about_list .about .about_btn a {
  display: block;
}
#about_me .inner .about_list .about_box {
  width: calc(100% - 30.3rem);
  margin-left: 6rem;
}
#about_me .inner .about_list .about_box .info {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
#about_me .inner .about_list .about_box .info .label {
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  width: 70px;
  font-size: 1.8rem;
}
#about_me .inner .about_list .about_box .info .value {
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  font-size: 2rem;
}
#about_me .inner .about_list .about_box .info .profile_info .profile_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#about_me .inner .about_list .about_box .info .profile_info .profile_list li {
  display: flex;
  gap: 1.8rem;
}
#about_me .inner .about_list .about_box .info .education .education_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#about_me .inner .about_list .about_box .info .education .education_list li {
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  font-size: 2rem;
}
#about_me .inner .about_list .about_box .info .education .education_list li .year {
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  font-size: 1.8rem;
}
#about_me .inner .about_list .about_box .Awards {
  margin-bottom: 3.2rem;
}
#about_me .inner .about_list .about_box .Awards .education_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#about_me .inner .about_list .about_box .Awards .education_list li {
  font-size: 2rem;
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
}
#about_me .inner .about_list .about_box .skill .skill_icons {
  display: flex;
  justify-content: space-between;
}
#about_me .inner .about_list .about_box .skill .skill_icons .skill_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#about_me .inner .about_list .about_box .skill .skill_icons .skill_item img {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
#about_me .inner .about_list .about_box .skill .skill_icons .skill_item .skill_desc {
  font-family: "NexonMaplestory";
  position: absolute;
  top: 100%;
  margin-top: 0.5rem;
  background: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  font-size: 1.6rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#about_me .inner .about_list .about_box .skill .skill_icons .skill_item .skill_desc::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #333;
  top: -0.4rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
#about_me .inner .about_list .about_box .skill .skill_icons .skill_item:hover img {
  transform: scale(1.1);
}
#about_me .inner .about_list .about_box .skill .skill_icons .skill_item:hover .skill_desc {
  opacity: 1;
  pointer-events: auto;
  margin-top: 1rem;
}

.bottom-wrapper {
  position: relative;
}
.bottom-wrapper .bottom {
  position: absolute;
  top: -29rem;
  left: 0;
  width: 100%;
  height: 29rem;
  overflow: hidden;
}
.bottom-wrapper .bottom div {
  position: absolute;
  background-position-y: bottom;
  background-repeat: repeat-x;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background-size: cover; */
}
.bottom-wrapper .bottom .bg1 {
  background-image: url("../img/sec_clouds1.png");
  z-index: 1;
  transform: translateY(-15px);
  animation: move 15s infinite linear reverse;
}
.bottom-wrapper .bottom .bg2 {
  background-image: url("../img/sec_clouds2.png");
  z-index: 2;
  transform: translateY(15px);
  animation: move 15s infinite linear;
}
.bottom-wrapper .bottom .bg3 {
  background-image: url("../img/sec_clouds3.png");
  z-index: 3;
  animation: move 15s infinite linear reverse;
}
@keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 500px;
  }
}

.bg-gradient {
  position: relative;
  width: 100%;
  /* height: 650vh;  */
  /* height: 650vh;  */
  background: linear-gradient(181deg, #EFD9EA 2%, #C7E3F9 18%, #B0D3F4 39%, #C9B3D7 50%, #F0B395 60%, #685595 76%, #11133A 100%);
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 1s ease-in-out;
}
.bg-gradient .vision {
  max-width: 1400px;
  margin-bottom: 14rem;
  text-align: center;
  font-size: 3.2rem;
  line-height: 1.6;
  /* 행간: 1.4배 정도로 여유 있게 */
  letter-spacing: 0.02em;
  /* 자간: 글자 사이 약간 띄움 */
  font-family: "NexonMaplestory";
}
.bg-gradient .vision h2 {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 48px;
}
.bg-gradient .vision h2 img {
  width: 100%;
}
.bg-gradient .vision .fadetext {
  /* &.active>span>span {
      animation: fadeInUp 0.5s forwards ease-out;
  } */
}
.bg-gradient .vision .fadetext > span {
  color: #ffffff;
  display: block;
  white-space: nowrap;
}
.bg-gradient .vision .fadetext > span > span {
  display: inline-block;
  color: rgba(255, 255, 255, 0.862745098);
  opacity: 0.3;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards ease-out;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
@keyframes fadeInUp {
  from {
    opacity: 0.3;
    /* 시작은 흐릿하게 */
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    /* 완전히 보이도록 */
    transform: translateY(0);
  }
}
.bg-gradient #project {
  padding-top: 22rem;
  /* margin-top: 18rem; */
  position: relative;
  display: block;
  z-index: 3;
}
.bg-gradient #project .inner {
  max-width: 1400px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.bg-gradient #project .inner .title_project {
  text-align: center;
  font-family: "TMoneyDungunbaram";
  font-weight: 800;
  font-size: 16rem;
  color: #fff;
  opacity: 0;
  /*  transform: translateY(40px);
  transition: all 0.8s ease-out; */
  transform: translateY(50px);
  transition: transform 4s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.8s ease-out;
  will-change: transform, opacity;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0 0 6px rgba(0, 0, 50, 0.4);
  /*  &.in-view {
      opacity: 1;
      transform: translateY(0);
  } */
}
.bg-gradient #project .inner .project_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-top: 18rem;
}
@keyframes border-shimmer {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.bg-gradient #project .inner .project_wrap .project_box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
  /* scroll animation */
  opacity: 0;
  /*  transform: translate3d(0, 100px, 0); */
  transform: translateY(20px);
  transition: transform 1.2s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.9s ease-out;
  will-change: transform, opacity;
  background: linear-gradient(135deg, rgba(70, 70, 70, 0.2), rgba(120, 180, 220, 0.15));
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 2.5px solid rgba(255, 255, 255, 0.25);
  border-radius: 3rem;
  padding: 2rem;
  /*  background: linear-gradient(rgba(199, 227, 249, 0.5), // #C7E3F9 반투명
                             rgba(176, 211, 244, 0.5) // #B0D3F4 반투명
                         );
                     backdrop-filter: blur(6px);
  */
  /*  background: linear-gradient(rgba(173, 216, 230, 0.5), rgba(255, 255, 255, 0.5));
                     backdrop-filter: blur(5px);
  */
  /* 반투명 배경 */
  /*     background-color: rgba(255, 255, 255, 0.307);
  backdrop-filter: blur(5px); */
  border-radius: 3rem;
  /* 카드 테두리 및 빛 효과 */
  /*   border: 3px solid rgb(255, 255, 255); */
  padding: 2rem;
  /* // 외부 글로우
                     &::before {
                         content: "";
                         position: absolute;
                         inset: 0; // 박스 전체 덮기
                         border-radius: inherit;
                         pointer-events: none;
                         opacity: 0;
                         background: linear-gradient(90deg, transparent, #fff, transparent);
                         background-size: 200% 100%;
                         -webkit-mask: linear-gradient(#fff 0 0); // 테두리만 보이게
                         mask: linear-gradient(#fff 0 0);
                         z-index: 2;
                         transition: opacity 0.3s ease;
                     }
  */
  /* &::after {
      content: "";
      position: absolute;
      inset: -4px; // 테두리 주변만 살짝 확대
      border-radius: inherit;
      pointer-events: none;
      opacity: 0;
      background: linear-gradient(90deg, transparent, #fff, transparent);
      background-size: 200% 100%;
      z-index: 2;
      transition: opacity 0.3s;
      mask:
          linear-gradient(#fff 0 0) content-box; // 내부는 투명하게
      -webkit-mask:
          linear-gradient(#fff 0 0) content-box;
      padding: 2px; // 테두리 두께
  } */
}
.bg-gradient #project .inner .project_wrap .project_box:hover::before {
  box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.6);
}
.bg-gradient #project .inner .project_wrap .project_box.in-view {
  opacity: 1;
  transform: translateY(0);
  /*  transform: translate3d(0, 0, 0); */
}
.bg-gradient #project .inner .project_wrap .project_box .image {
  width: 65rem;
  height: 55.3rem;
}
.bg-gradient #project .inner .project_wrap .project_box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box {
  padding: 5rem 2.5rem;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_header {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 3.5rem;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_header h3 {
  font-family: "TMoneyDungunbaram";
  font-weight: 600;
  font-size: 3.4rem;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_header span {
  font-family: "TMoneyDungunbaram";
  font-size: 1.5rem;
  font-weight: 300;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_info {
  display: flex;
  gap: 3rem;
  margin-bottom: 5rem;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_info .info_label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_info .info_label li {
  font-family: "TMoneyDungunbaram";
  font-size: 2rem;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_info .info_value {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  align-items: start;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_info .info_value li {
  font-family: "TMoneyDungunbaram";
  font-size: 1.8rem;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links {
  display: flex;
  /*  justify-content: space-between; */
  align-items: center;
  gap: 1.4rem;
  height: 6.3rem;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.903);
  align-content: center;
  text-align: center;
  border-radius: 8px;
  /*   display: none; */
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr .qr_icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr .qr_icon:hover {
  transform: scale(1.1);
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr .qr_popup {
  position: fixed;
  inset: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 999;
  /* JS에서 .qr_popup에 active 붙으면 나타나도록 */
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr .qr_popup .qr_popup_inner {
  position: relative;
  background: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  transform: scale(0.8);
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr .qr_popup .qr_popup_inner img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr .qr_popup .qr_popup_inner .close_btn {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr .qr_popup .qr_popup_inner .close_btn:hover {
  transform: rotate(90deg);
  background: #f1f1f1;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr .qr_popup .qr_popup_inner .close_btn img {
  width: 18px;
  height: 18px;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr .qr_popup.active {
  opacity: 1;
  visibility: visible;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links .link_qr .qr_popup.active .qr_popup_inner {
  transform: scale(1);
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links a.btn.link_web {
  width: 18rem;
  height: 6.9rem;
  background: url("../icon/Vector..svg") no-repeat center/cover;
  /* padding: 15px 30px; */
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links a.btn {
  width: 14rem;
  height: 5.3rem;
  /* flex: 1;  */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "TMoneyDungunbaram";
  font-size: 2.2rem;
  background: url("../icon/Vector22.svg") no-repeat center/cover;
  border-radius: 1.5rem;
  /* padding: 1.6rem 2rem; */
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease;
  overflow: visible;
  /* hover 시 구름 배경 */
  /* QR 버튼 제외 */
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links a.btn span {
  margin-top: 0.8rem;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links a.btn.link_web:hover {
  color: #fff;
  height: 6.9rem;
  background-color: transparent;
  background: url("../icon/h0ver.svg") no-repeat center/cover;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links a.btn.link_process:hover {
  background-color: transparent;
  background: url("../icon/hover.2.svg") no-repeat center/cover;
}
.bg-gradient #project .inner .project_wrap .project_box .text_box .project_links a.btn.link_figma:hover {
  background-color: transparent;
  background: url("../icon/hover.2.svg") no-repeat center/cover;
}
.bg-gradient #side-project {
  z-index: 1;
  margin-top: 30rem;
  /* height: 60vh; */
}
.bg-gradient #side-project .inner {
  max-width: 1400px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.bg-gradient #side-project .inner .title_side-project {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
  text-align: center;
  font-family: "TMoneyDungunbaram";
  font-weight: 800;
  font-size: 10rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0 0 6px rgba(0, 0, 50, 0.4);
}
.bg-gradient #side-project .inner .title_side-project.in-view {
  opacity: 1;
  transform: translateY(0);
}
.bg-gradient #side-project .inner .list {
  margin-top: 18rem;
  display: flex;
  gap: 2rem;
  height: 500px;
}
.bg-gradient #side-project .inner .list .side-box {
  width: 100%;
  flex: 0.8;
  overflow: hidden;
  transition: flex 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
  border: 2px solid rgb(255, 255, 255);
  padding: 2rem 0;
  background-color: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  /* background-color: rgba(60, 50, 70, 0.35);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff; */
  border-radius: 3rem;
}
.bg-gradient #side-project .inner .list .side-box .project_header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
}
.bg-gradient #side-project .inner .list .side-box .project_header h3 {
  font-family: "TMoneyDungunbaram";
  font-size: 2.8rem;
}
.bg-gradient #side-project .inner .list .side-box .project_header span.main {
  font-family: "TMoneyDungunbaram";
  font-size: 1.5rem;
  font-weight: 300;
  display: none;
}
.bg-gradient #side-project .inner .list .side-box .project_header span.serve {
  font-family: "TMoneyDungunbaram";
  font-size: 1.5rem;
  font-weight: 300;
}
.bg-gradient #side-project .inner .list .side-box .item {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.bg-gradient #side-project .inner .list .side-box .item .image {
  width: 40rem;
  overflow: hidden;
}
.bg-gradient #side-project .inner .list .side-box .item .image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: width 0.5s ease;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box {
  display: none;
  margin-left: 1rem;
  transition: opacity 0.5s ease;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_info {
  display: flex;
  gap: 3rem;
  margin-bottom: 5rem;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_info .info_label {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_info .info_label li {
  font-family: "TMoneyDungunbaram";
  font-size: 2rem;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_info .info_value {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  align-items: start;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_info .info_value li {
  font-family: "TMoneyDungunbaram";
  font-size: 1.8rem;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_links {
  display: flex;
  /*  justify-content: space-between; */
  align-items: center;
  gap: 1.4rem;
  height: 6.3rem;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_links a.btn.link_web {
  background: url("../icon/h0ver.svg") no-repeat center/cover;
  color: #fff;
  /* padding: 15px 30px; */
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_links a.btn {
  width: 14rem;
  height: 5.3rem;
  /* flex: 1;  */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "TMoneyDungunbaram";
  font-size: 2.2rem;
  background: url("../icon/h0ver.svg") no-repeat center/cover;
  color: #fff;
  border-radius: 1.5rem;
  /* padding: 1.6rem 2rem; */
  text-decoration: none;
  transition: all 0.4s ease;
  overflow: visible;
  /* hover 시 구름 배경 */
  /* QR 버튼 제외 */
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_links a.btn span {
  margin-top: 0.8rem;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_links a.btn.link_web:hover {
  color: #000;
  background-color: transparent;
  background: url("../icon/Vector..svg") no-repeat center/cover;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_links a.btn.link_process:hover {
  background-color: transparent;
}
.bg-gradient #side-project .inner .list .side-box .item .text_box .project_links a.btn.link_figma:hover {
  background-color: transparent;
}
.bg-gradient #side-project .inner .list .side-box.active {
  padding: 2rem;
  flex: 5;
}
.bg-gradient #side-project .inner .list .side-box.active .project_header {
  margin-left: 3rem;
}
.bg-gradient #side-project .inner .list .side-box.active .project_header h3 {
  font-size: 3.8rem;
}
.bg-gradient #side-project .inner .list .side-box.active .project_header span.main {
  display: block;
}
.bg-gradient #side-project .inner .list .side-box.active .project_header span.serve {
  display: none;
}
.bg-gradient #side-project .inner .list .side-box.active .image {
  width: 50%;
  margin-left: 0;
}
.bg-gradient #side-project .inner .list .side-box.active .text_box {
  display: block;
}
.bg-gradient #design {
  margin-top: 20rem;
  height: 60vh;
}
.bg-gradient #design .inner {
  max-width: 1400px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.bg-gradient #design .inner .title_design {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
  text-align: center;
  font-family: "TMoneyDungunbaram";
  font-weight: 800;
  font-size: 10rem;
  color: #fff;
  margin-bottom: 12rem;
}
.bg-gradient #design .inner .title_design.in-view {
  opacity: 1;
  transform: translateY(0);
}
.bg-gradient #design .inner .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bg-gradient #design .inner .list .item {
  width: 20%;
  animation: floating 3s ease-in-out infinite;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}
.bg-gradient #design .inner .list .item img {
  width: 100%;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
  filter: brightness(0.7);
}
.bg-gradient #design .inner .list .item:hover img {
  transform: scale(1.06);
  filter: brightness(1);
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bg-gradient #contact {
  margin-top: 30rem;
  padding-bottom: 18rem;
}
.bg-gradient #contact .inner {
  max-width: 1400px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.bg-gradient #contact .inner .title_contact {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
  text-align: center;
  font-family: "TMoneyDungunbaram";
  font-weight: 800;
  font-size: 8rem;
  color: #fff;
  margin-bottom: 12rem;
}
.bg-gradient #contact .inner .title_contact.in-view {
  opacity: 1;
  transform: translateY(0);
}
.bg-gradient #contact .inner .contact_wrap {
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-gradient #contact .inner .contact_wrap p {
  margin-bottom: 5rem;
  font-size: 2.6rem;
}
.bg-gradient #contact .inner .contact_wrap .main {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.bg-gradient #contact .inner .contact_wrap .main .call {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.bg-gradient #contact .inner .contact_wrap .main .call .phone {
  display: flex;
  gap: 1.5rem;
}
.bg-gradient #contact .inner .contact_wrap .main .call .e-mail {
  display: flex;
  gap: 1.5rem;
}
.bg-gradient #contact .inner .contact_wrap .main .call span {
  font-size: 20px;
}
.bg-gradient #contact .inner .contact_wrap .main .call .btn_wrap {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.bg-gradient #contact .inner .contact_wrap .main .call .btn_wrap a {
  font-size: 20px;
}

.cloud_layer {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 240vh;
  /* 전체 화면 높이 */
  position: absolute;
  top: 60vh;
  left: 0;
}
.cloud_layer #webglCanvas {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: transparent;
  -webkit-mask-size: 500px;
          mask-size: 500px;
  /* -webkit-mask-size: 100px; */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
}
.cloud_layer #webglCanvas #webglCanvas {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: transparent;
  -webkit-mask-size: 500px;
          mask-size: 500px;
  /* -webkit-mask-size: 100px; */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
}

.stars_layer {
  transition: opacity 1s ease-out;
  position: absolute;
  width: 100%;
  height: 160vh;
  bottom: 10vh;
  left: 0;
  overflow: hidden;
}
.stars_layer .stars_layer {
  transition: opacity 1s ease-out;
  position: absolute;
  width: 100%;
  height: 160vh;
  bottom: 10vh;
  left: 0;
  overflow: hidden;
}
.stars_layer .stars_layer #aestheticCanvas {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}
.stars_layer .stars_layer #aestheticCanvas #aestheticCanvas {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}/*# sourceMappingURL=index.css.map */