@charset "UTF-8";
@import url("reset.css");
@font-face {
  font-family: "NexonMaplestory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "NexonMaplestory";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "TMoneyDungunbaram";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "TMoneyDungunbaram";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
body {
  cursor: url("../img/s.png") 18 18, auto;
  /* 이미지 48x48px, 클릭 중심점 중앙 */
}

html {
  font-size: 10px;
}

.sticky-header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 1000;
  transition: all 0.3s ease;
  background-color: transparent;
}
.sticky-header.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.063);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
.sticky-header .inner {
  max-width: 160rem;
  width: calc(100% - 6rem);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sticky-header .inner .logo a {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
  transition: color 0.3s ease;
}
.sticky-header .inner .logo a:hover {
  color: #ffeedd;
}
.sticky-header .inner nav ul {
  display: flex;
  gap: 8rem;
}
.sticky-header .inner nav ul li a {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: color 0.3s ease;
}
.sticky-header .inner nav ul li a:hover {
  color: #ffeedd;
}

.main-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main-visual.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.main-visual.end {
  position: relative;
  z-index: 1;
}
.main-visual .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.main-visual .bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: transform 0.1s ease-out;
  /* 프레임 부드럽게 */
  will-change: transform;
}
.main-visual .cloud-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transform: translateY(20px);
  /* 초기 아래에서 시작 */
  /* 등장 애니메이션 + float 애니메이션 */
  animation: fadeIn 2s ease-out forwards, float 5s ease-in-out 4s infinite alternate;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.main-visual {
  /* 반복적으로 떠있는 느낌 */
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#about_me {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  /* position: relative; */
  background: #FFF8D6;
  background: linear-gradient(181deg, rgb(255, 248, 214) 0%, rgb(243, 227, 156) 10%, rgb(251, 207, 175) 38%, rgb(243, 207, 225) 59%);
}
#about_me.unstuck {
  position: static;
  /* 원래 위치로 돌아가지 않고 그 순간부터 스크롤 적용 */
}
#about_me h4.title {
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 2.5rem;
}
#about_me .inner {
  max-width: 128rem;
  width: calc(100% - 4rem);
  height: 100%;
  margin: 0 auto;
}
#about_me .inner .title_about_me {
  font-family: "TMoneyDungunbaram";
  font-weight: 800;
  padding-top: 12rem;
  font-size: 5.5rem;
  color: #3c3c3c;
  margin-bottom: 6rem;
  text-align: center;
}
#about_me .inner .about_list {
  display: flex;
  justify-content: center;
  padding-top: 4.2rem;
}
#about_me .inner .about_list .about {
  padding-left: 3rem;
}
#about_me .inner .about_list .about .profile {
  width: 230px;
  height: 310px;
  border-radius: 1.8rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.432);
  transform: translateY(0px);
  animation: float 5s ease-in-out infinite;
  overflow: hidden;
}
#about_me .inner .about_list .about .profile img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.1);
}
@keyframes float {
  0% {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-6px);
  }
  100% {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(0px);
  }
}
#about_me .inner .about_list .about .profile_info {
  margin-top: 2.8rem;
}
#about_me .inner .about_list .about .profile_info .profile_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#about_me .inner .about_list .about .profile_info .profile_list li {
  display: flex;
  gap: 1.5rem;
}
#about_me .inner .about_list .about .profile_info .profile_list li .label {
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  width: 70px;
  font-size: 1.8rem;
}
#about_me .inner .about_list .about .profile_info .profile_list li .value {
  letter-spacing: -0.5px;
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  font-size: 2rem;
}
#about_me .inner .about_list .about .about_btn {
  width: 230px;
  margin-top: 3.8rem;
  font-family: "TMoneyDungunbaram";
  font-size: 2.4rem;
  text-align: center;
  padding: 14px 0;
  border-radius: 1.5rem;
  color: #1e1e1e;
  background-color: rgba(255, 255, 255, 0.84);
  box-shadow: 0 3px 7px 0 rgba(42, 42, 42, 0.36);
}
#about_me .inner .about_list .about .about_btn a {
  display: block;
}
#about_me .inner .about_list .about .about_btn:hover {
  background-color: rgba(255, 255, 255, 0.363);
}
#about_me .inner .about_list .about_box {
  margin-left: 7rem;
}
#about_me .inner .about_list .about_box .info {
  display: flex;
  flex-direction: column;
  gap: 3.9rem;
}
#about_me .inner .about_list .about_box .info .education .education_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#about_me .inner .about_list .about_box .info .education .education_list li {
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  display: flex;
  gap: 1.8rem;
  font-size: 2rem;
}
#about_me .inner .about_list .about_box .info .education .education_list li .year {
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  font-size: 1.8rem;
}
#about_me .inner .about_list .about_box .info .Awards .education_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#about_me .inner .about_list .about_box .info .Awards .education_list li {
  font-size: 2rem;
  font-weight: 300;
  font-family: "TMoneyDungunbaram";
  display: flex;
  gap: 1.8rem;
}
#about_me .inner .about_list .about_box .info .skill {
  width: 700px;
}
#about_me .inner .about_list .about_box .info .skill .skill_icons {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 3.8rem;
       column-gap: 3.8rem;
  row-gap: 2rem;
}
#about_me .inner .about_list .about_box .info .skill .skill_icons .skill_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
#about_me .inner .about_list .about_box .info .skill .skill_icons .skill_item img {
  width: 48px;
  height: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
#about_me .inner .about_list .about_box .info .skill .skill_icons .skill_item .skill_desc {
  font-family: "NexonMaplestory";
  position: absolute;
  top: 105%;
  margin-top: 0.5rem;
  background: #333;
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 25px;
  font-size: 1.6rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#about_me .inner .about_list .about_box .info .skill .skill_icons .skill_item .skill_desc::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: #333;
  top: -0.4rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
#about_me .inner .about_list .about_box .info .skill .skill_icons .skill_item:hover img {
  transform: scale(1.1);
}
#about_me .inner .about_list .about_box .info .skill .skill_icons .skill_item:hover .skill_desc {
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
  margin-top: 1rem;
}

.bottom-wrapper {
  position: relative;
}
.bottom-wrapper .bottom {
  position: absolute;
  top: -20rem;
  left: 0;
  width: 100%;
  height: 20rem;
  overflow: hidden;
}
.bottom-wrapper .bottom div {
  position: absolute;
  background-position-y: bottom;
  background-repeat: repeat-x;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background-size: cover; */
}
.bottom-wrapper .bottom .bg1 {
  background-image: url("../img/sec_clouds1.png");
  z-index: 1;
  transform: translateY(-15px);
  animation: move 15s infinite linear reverse;
}
.bottom-wrapper .bottom .bg2 {
  background-image: url("../img/sec_clouds2.png");
  z-index: 2;
  transform: translateY(15px);
  animation: move 15s infinite linear;
}
.bottom-wrapper .bottom .bg3 {
  background-image: url("../img/sec_clouds3.png");
  z-index: 3;
  animation: move 15s infinite linear reverse;
}
@keyframes move {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 500px;
  }
}

.bg-gradient {
  position: relative;
  width: 100%;
  /* height: 650vh;  */
  /* height: 650vh;  */
  background: linear-gradient(181deg, #EFD9EA 2%, #C7E3F9 18%, #B0D3F4 38%, #C9B3D7 45%, #F0B395 60%, #D9928A 68%, #685595 80%, #11133A 100%);
  /* background-attachment: fixed; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 1s ease-in-out;
}
.bg-gradient .vision {
  padding-top: 24rem;
  margin-bottom: 14rem;
  text-align: center;
  line-height: 2;
  /* 행간: 2배 정도로 여유 있게 */
  letter-spacing: 0.02em;
  /* 자간: 글자 사이 약간 띄움 */
  font-family: "NexonMaplestory";
}
.bg-gradient .vision .inner {
  max-width: 1400px;
  margin: 0 auto;
}
.bg-gradient .vision .inner p {
  color: #6b5867;
  font-size: 3.6rem;
  position: relative;
}
.bg-gradient .vision .inner p .main_text {
  font-weight: 700;
  font-size: 4rem;
  color: #5e4e5b;
  display: block;
  margin-top: 1rem;
}
.bg-gradient .vision .inner p .highlight {
  color: #51424e;
  font-size: 4rem;
  display: inline-block;
  transition: transform 0.6s ease, letter-spacing 0.6s ease;
}
.bg-gradient .vision .inner p .highlight.grow {
  font-weight: 700;
  transform: scale(1.05);
  letter-spacing: 0.05em;
  padding: 0 1.1rem;
}
.bg-gradient .vision .inner p .highlight-container.top {
  position: relative;
  display: inline-block;
}
.bg-gradient .vision .inner p .highlight-container.top img {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(40px) scale(0.9);
  opacity: 0;
  width: 50px;
  transition: top 1s ease, transform 0.6s ease, opacity 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease;
  pointer-events: none;
}
.bg-gradient .vision .inner p .highlight-container.top img.show {
  top: -40px;
  opacity: 1;
  transform: translateX(-50%) translateY(0) scale(1.2);
}
.bg-gradient .vision .inner p .highlight-container-inline {
  display: inline-flex;
  align-items: baseline;
  transition: gap 0.3s ease;
}
.bg-gradient .vision .inner p .highlight-container-inline.show-gap {
  gap: 6px;
}
.bg-gradient .vision .inner p .highlight-container-inline.left img {
  width: 50px;
  transform: translateX(50px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}
.bg-gradient .vision .inner p .highlight-container-inline.left img.show {
  margin-left: 4px;
  display: inline-block;
  transform: translateX(0);
  opacity: 1;
}
.bg-gradient .vision .inner p .highlight-container-inline.left .highlight {
  transform: translateX(-50px);
}
.bg-gradient .vision .inner p .highlight-container-inline.left .highlight.grow {
  transform: translateX(0);
}
.bg-gradient .vision .inner p .highlight-container-inline.right img {
  width: 50px;
  transform: translateX(20px);
  opacity: 0;
  display: none;
  transition: transform 0.6s ease, opacity 0.6s ease;
}
.bg-gradient .vision .inner p .highlight-container-inline.right img.show {
  display: inline-block;
  transform: translateX(0);
  opacity: 1;
}
.bg-gradient .gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}
.bg-gradient .project {
  position: relative;
  display: block;
  z-index: 3;
}
.bg-gradient .project .inner {
  max-width: 1400px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.bg-gradient .project .inner .category {
  text-align: center;
  font-family: "TMoneyDungunbaram";
  font-weight: 800;
  text-align: center;
}
.bg-gradient .project .inner .project_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9rem;
  margin-top: 8rem;
}
.bg-gradient .project .inner .project_wrap .project_box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
  background: linear-gradient(135deg, rgba(109, 109, 109, 0.2), rgba(120, 180, 220, 0.15));
  backdrop-filter: blur(6px);
  border: 2.5px solid rgba(255, 255, 255, 0.25);
  border-radius: 3rem;
  padding: 2rem;
  align-items: center;
}
.bg-gradient .project .inner .project_wrap .project_box .image {
  width: 65rem;
  height: 55.3rem;
}
.bg-gradient .project .inner .project_wrap .project_box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box {
  padding: 5rem 2.5rem;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_header {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 3.5rem;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_header h3 {
  font-family: "TMoneyDungunbaram";
  font-weight: 600;
  font-size: 3.4rem;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_header span {
  font-family: "TMoneyDungunbaram";
  font-size: 1.5rem;
  font-weight: 300;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_meta {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_meta .project_info {
  height: 140px;
  display: flex;
  gap: 3rem;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_meta .project_info .info_label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_meta .project_info .info_label li {
  font-family: "TMoneyDungunbaram";
  font-size: 2rem;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_meta .project_info .info_value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_meta .project_info .info_value li {
  font-family: "TMoneyDungunbaram";
  font-size: 1.8rem;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_meta .link_qr .image {
  width: 120px;
  height: 120px;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_meta .link_qr .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_links {
  display: flex;
  /*  justify-content: space-between; */
  align-items: center;
  gap: 1.8rem;
  height: 6.3rem;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_links a.btn.link_web {
  width: 18rem;
  height: 6.9rem;
  background: url("../icon/Vector..svg") no-repeat center/cover;
  /* padding: 15px 30px; */
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_links a.btn {
  width: 15.2rem;
  height: 5.8rem;
  /* flex: 1;  */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "TMoneyDungunbaram";
  font-size: 2.2rem;
  background: url("../icon/Vector22.svg") no-repeat center/cover;
  border-radius: 1.5rem;
  /* padding: 1.6rem 2rem; */
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease;
  overflow: visible;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_links a.btn:hover {
  animation: fluffyCloud 0.8s ease-in-out forwards;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_links a.btn span {
  margin-top: 0.8rem;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_links a.btn {
  /* hover 시 구름 배경 */
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_links a.btn.link_web:hover {
  color: #fff;
  height: 6.9rem;
  background-color: transparent;
  background: url("../icon/h0ver.svg") no-repeat center/cover;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_links a.btn.link_process:hover {
  background-color: transparent;
  background: url("../icon/Vector22hover.svg") no-repeat center/cover;
}
.bg-gradient .project .inner .project_wrap .project_box .text_box .project_links a.btn.link_figma:hover {
  background-color: transparent;
  background: url("../icon/Vector22hover.svg") no-repeat center/cover;
}
@keyframes fluffyCloud {
  0% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.08, 0.95);
  }
  /* 살짝 눌린 느낌 */
  50% {
    transform: scale(0.95, 1.05);
  }
  /* 살짝 퍼지는 느낌 */
  70% {
    transform: scale(1.03, 0.97);
  }
  /* 돌아오는 중 */
  100% {
    transform: scale(1, 1);
  }
  /* 원래 크기 */
}
.bg-gradient #Web {
  padding-top: 18rem;
}
.bg-gradient #Web .inner .category {
  font-size: 11rem;
  color: rgb(255, 255, 255);
  text-shadow: none;
  -webkit-text-stroke: 2px rgba(114, 114, 114, 0.683);
}
.bg-gradient #Mobile {
  padding-top: 18rem;
}
.bg-gradient #Mobile .inner .category {
  font-size: 11rem;
  color: rgb(255, 255, 255);
  text-shadow: none;
  -webkit-text-stroke: 2px rgba(114, 114, 114, 0.683);
}
.bg-gradient #Mobile .inner .project_wrap .project_box {
  height: 58rem;
}
.bg-gradient #App {
  padding-top: 12rem;
}
.bg-gradient #App .inner .category {
  font-size: 9rem;
  color: rgba(255, 255, 255, 0.134);
  text-shadow: none;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.683);
}
.bg-gradient #App .inner .project_wrap {
  margin-top: 7rem;
}
.bg-gradient #App .inner .project_wrap \  .project_box {
  height: 58rem;
}
.bg-gradient #Clone {
  padding-top: 12rem;
}
.bg-gradient #Clone .inner .category {
  font-size: 9rem;
  color: rgba(255, 255, 255, 0.134);
  text-shadow: none;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.683);
}
.bg-gradient #Clone .inner .project_wrap {
  margin-top: 7rem;
}
.bg-gradient #Clone .inner .project_wrap .project_box {
  height: 57rem;
}
.bg-gradient #Clone .inner .project_wrap .project_box .image {
  height: auto;
}
.bg-gradient #design {
  margin-top: 20rem;
  z-index: 9;
}
.bg-gradient #design .inner {
  max-width: 1400px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.bg-gradient #design .inner .title_design {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
  text-align: center;
  font-family: "TMoneyDungunbaram";
  font-weight: 800;
  font-size: 10rem;
  color: #fff;
  margin-bottom: 12rem;
}
.bg-gradient #design .inner .title_design.in-view {
  opacity: 1;
  transform: translateY(0);
}
.bg-gradient #design .inner .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bg-gradient #design .inner .list .item {
  width: 20%;
  animation: floating 3s ease-in-out infinite;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}
.bg-gradient #design .inner .list .item img {
  width: 100%;
  border-radius: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
  filter: brightness(0.7);
}
.bg-gradient #design .inner .list .item:hover img {
  transform: scale(1.06);
  filter: brightness(1);
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bg-gradient #contact {
  margin-top: 30rem;
  padding-bottom: 18rem;
}
.bg-gradient #contact .inner {
  max-width: 1400px;
  width: calc(100% - 30px);
  margin: 0 auto;
}
.bg-gradient #contact .inner .title_contact {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease-out;
  text-align: center;
  font-family: "TMoneyDungunbaram";
  font-weight: 800;
  font-size: 8rem;
  color: #fff;
  margin-bottom: 12rem;
}
.bg-gradient #contact .inner .title_contact.in-view {
  opacity: 1;
  transform: translateY(0);
}
.bg-gradient #contact .inner .contact_wrap {
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-gradient #contact .inner .contact_wrap p {
  margin-bottom: 5rem;
  font-size: 2.6rem;
}
.bg-gradient #contact .inner .contact_wrap .main {
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 8rem;
}
.bg-gradient #contact .inner .contact_wrap .main .call {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.bg-gradient #contact .inner .contact_wrap .main .call .phone {
  display: flex;
  gap: 1.5rem;
}
.bg-gradient #contact .inner .contact_wrap .main .call .phone:hover {
  color: #FFD700;
}
.bg-gradient #contact .inner .contact_wrap .main .call .e-mail {
  display: flex;
  gap: 1.5rem;
}
.bg-gradient #contact .inner .contact_wrap .main .call .e-mail:hover {
  color: #FFD700;
}
.bg-gradient #contact .inner .contact_wrap .main .call span {
  font-size: 20px;
  font-family: "TMoneyDungunbaram";
}
.bg-gradient #contact .inner .contact_wrap .main .call .btn_wrap {
  margin-top: 2rem;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  font-family: "TMoneyDungunbaram";
}
.bg-gradient #contact .inner .contact_wrap .main .call .btn_wrap a {
  font-size: 20px;
}
.bg-gradient #contact .inner .contact_wrap .main .call .btn_wrap a:hover {
  color: #FFD700;
}

.cloud_layer {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 450vh;
  /* 전체 화면 높이 */
  position: absolute;
  top: 120vh;
  left: 0;
}
.cloud_layer #webglCanvas {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: transparent;
  -webkit-mask-size: 500px;
          mask-size: 500px;
  /* -webkit-mask-size: 100px; */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
}
.cloud_layer #webglCanvas #webglCanvas {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: transparent;
  -webkit-mask-size: 500px;
          mask-size: 500px;
  /* -webkit-mask-size: 100px; */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
}

.stars_layer {
  transition: opacity 1s ease-out;
  position: absolute;
  width: 100%;
  height: 240vh;
  bottom: 15vh;
  left: 0;
  overflow: hidden;
}
.stars_layer #aestheticCanvas {
  width: 100%;
  height: auto;
  -o-object-fit: none;
     object-fit: none;
  display: block;
}

@media screen and (max-width: 1600px) {
  #about_me {
    height: 130vh;
  }
  #about_me .inner .title_about_me {
    display: none;
  }
  #about_me .inner .about_list {
    padding-top: 16rem;
  }
}/*# sourceMappingURL=index.css.map */